@import './src/assets/scss/palette';

html,
body {
  height: 100%;
  font-size: 18px;
}

body {
  margin: 0 15px;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: mat-color($dark-primary, 100);
}
